.image-gallery {
    position: relative;
}

.image-gallery__tags {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: calc(100% - 32px);
    pointer-events: none;

    @media (max-width: 640px) {
        top: 8px;
        left: 8px;
        max-width: calc(100% - 16px);
    }
}

.image-gallery__tag {
    pointer-events: none;
}
